///////////////////////////////////////////////////////////////////////// INDEX

body
    font-family: $text
    background: $white
    color: $black

.container
    margin: 0 auto
    width: 100%
    padding: 0
    position: relative
    height: 100vh
    //background: Yellow
    +rprop(width, 100%, 1)

$footer-head-height: 66px

a
    color: $black

.hey
    position: absolute
    right: 0
    top: 30px
    font-size: 12px
    font-family: $mono
    font-weight: 900
    @media only screen and (max-width: $bp1)
        width: 100vw
        text-align: center
        top: 15px


///////////////////////////////////////////////////////////////////////// WHEEL
@import ./wheel

///////////////////////////////////////////////////////////////////////// STORE
@import ./store



